<html>
	<head>	
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	</head>
	
	<body>
		<div class="sec_1">
			<div>
				Handle: <input id="handle" />
			</div>
			
			<div>
				Avatar:
				<select id="avatar">
					<option value="anonymous">Mr. Anonymous</option>
					<option value="batman">Batman</option>
					<option value="tux" selected>Robo-Tux</option>
					<option value="mask">Masked Man</option>
					<option value="gumball">Gumball</option>
					<option value="kirby">kirby</option>
				</select>
			</div>
			<button onclick="connect();">Connect</button>
		</div>
		
		<div class="sec_2" style="display:none;">
			<div>
					Message: <input id="message" />
				</div>
			<div>
				<button onclick="send(0);">Text</button>
				<button onclick="send(1);">Voice-gram</button>
			</div>
		</div>
		
		<script>
		var user_id = 0;
		var connecting = false;
		function connect() {
			if ($('#handle').val().trim().length == 0) {
				alert('Handle is required.');
				return false;
			}
				
			var handle = $('#handle').val();
			var avatar = $('#avatar').val();
			if (connecting) return;
			connecting = true;
			
			$.get('/users/join', {handle:handle, avatar:avatar}, function(response) {
				user_id = response.msg;
				$('div.sec_1').hide();
				$('div.sec_2').show();
				
				keep_alive();
				connecting = false;
			});
		}
		
		var sending = false;
		function send(type) {
			if (sending) return;
			sending = true;
			
			var message = $('#message').val();
			$.get('/messages/send_msg', {user_id:user_id, chatroom_id:0, msg_type:type, msg:message}, function(response) {
				sending = false;
			});
		}
			
		function keep_alive() {
			window.setInterval(function() {
				$.get('/users/keep_alive', {id:user_id}, function(response) {
				});
			}, 2000);
		}
		</script>
	</body>
</html>